name: Test
on:
  push:

concurrency: 
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
 test:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - name: build test container
      run: docker build -t node-dbus-next-test .
    - name: run test container
      run: docker run -it node-dbus-next-test
